body {
	background-color: #fff;
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

div {
	margin-bottom: 10px;
}

a {
	cursor: pointrer;
	text-decoration: underline;
}

label {
	display: block;
}